@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}

header,
footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 768px) {
  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

select {
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 3px gray;
}

select:focus {
  outline: none;
}

button:not([disabled]),
label {
  cursor: pointer;
}

.btn {
  color: white;
  background-color: #ed6a5a;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
}

.btn--big {
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.btn:hover {
  background-color: #eb5846;
}

.btn:disabled {
  background-color: lightgray;
  cursor: initial;
}

/* ---------- konec globálních stylů ---------- */

/* ---------- styly pro hlavičku  ---------- */

header {
  padding-top: 1px;
  height: 305px;

  color: white;
  background-color: #69bffc;
  background-image: url(./img/banner.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.site-title {
  margin: 0.5rem 0;
}

.site-title a,
.site-title a:active,
.site-title a:visited {
  color: white;
  text-decoration: none;
}

/* ---------- styly pro vyhledávací formulář  ---------- */

.journey-picker {
  margin: -2rem auto 4rem auto;
  padding: 2rem;

  color: white;
  background-color: #ecb0e1;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.journey-picker__body {
  display: flex;
}

.journey-picker__form {
  flex: 1;
  margin-right: 1rem;
}

.journey-picker__label {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.journey-picker__controls {
  margin-top: 2rem;
}

.journey-picker select {
  display: block;
  width: 100%;
}

.journey-picker__map {
  width: 26rem;
  height: auto;
}

/* ---------- styly pro podrobnosti cesty  ---------- */



/* ---------- styly pro zastávky  ---------- */


/* ---------- styly pro výběr sedadla  ---------- */

.seat-picker {
  padding: 2rem;
}

.seats {
  margin: 2rem 0;
}

/* ---------- styly pro sedadlo  ---------- */

.selected-seat {
  padding: 2rem;
}

.seat {
  width: 3rem;
  height: 3rem;
  margin-right: 0.25rem;
}

.seat:not(.seat--occupied):not(.seat--selected) {
  cursor: pointer;
}

.seat__rect {
  fill: #69bffc;
}

.seat--auto {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.seat--occupied .seat__rect {
  fill: #888;
}

.seat--selected {
  transform: scale(1.2);
}

.seat--selected .seat__rect,
.seat:not(.seat--occupied):hover .seat__rect {
  fill: #ed6a5a;
}

.seat__path {
  fill: none;
  stroke: #888;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.seat--selected .seat__path,
.seat:not(.seat--occupied):hover .seat__path {
  stroke: black;
}

.seat__text {
  fill: #000000;
  font-family: "Open Sans";
  font-size: 36px;
  text-anchor: middle;
  user-select: none;
}

.seat--selected .seat__text,
.seat:not(.seat--occupied):hover .seat__text {
  fill: white;
}

.controls {
  padding: 0 2rem;
  text-align: center;
}

/* ---------- styly pro rezervaci  ---------- */


/* ---------- styly pro patičku  ---------- */

footer {
  margin-top: 4rem;
  padding: 2rem 0 4rem 0;
  color: white;
  background-color: #69bffc;
}

.footer-title {
  font-weight: bold;
  font-size: 150%;
}